<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title *ngIf="creatingList===undefined">{{ name ? name : 'Create ExerciseList' }}</ion-title>
    <ion-title *ngIf="creatingList">{{ creatingList.name }}</ion-title>
    <ion-buttons slot="start">
        <app-leave (okButtonClicked)="onOKButtonClicked()"></app-leave>
    </ion-buttons>
    <ion-buttons *ngIf="selectedCategory || creatingList===undefined">
      <ion-button (click)="switchUpdate()" >{{selectedCategory}}</ion-button>
      <ion-button (click)="switchSecondUpdate()" *ngIf="selectedSecondCategory">{{selectedSecondCategory}}</ion-button>
    </ion-buttons>
        <ion-buttons *ngIf="!selectedCategory && creatingList">
      <ion-button (click)="switchUpdate()">{{creatingList.first_category}}</ion-button>
      <ion-button (click)="switchSecondUpdate()" *ngIf="creatingList.second_category">{{creatingList.second_category}}</ion-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button 
      (click)=" onCreateExerciseList()" 
      [disabled]="!form.valid && creatingList?.exercises?.length===0">
        <ion-icon name="checkmark" slot="icon-only"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form [formGroup]="form">
    <ion-grid>
      <ion-row>
        <ion-col *ngIf="!isSelectedCategory && creatingList===undefined" offset-sm="3">
          <app-category-picker
          [categories]="categories"
          [buttontext]="buttontext"
          (selectedCategory)="onSelectedCategory($event)"
          >
          </app-category-picker>
        </ion-col>
        <ion-col *ngIf="selectedCategory && !isSelectedSecondCategory && !isCardio" offset-sm="3">
          <app-category-picker
          [categories]="secondcategories"
          [buttontext]="buttontext2"
          (selectedCategory)="onSelectedSecondCategory($event)"
          >
          </app-category-picker>
        </ion-col>
      </ion-row>
      <ion-row *ngIf="creatingList===undefined || creatingList?.name===''">
        <ion-col size-sm="6" offset-sm="3">
          <ion-item>
            <ion-label position="floating">Name</ion-label>
            <ion-input
              type="text"
              formControlName="name"
              [(ngModel)]="name"
              required
              minlength="3"
            ></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row *ngIf="(selectedCategory || creatingList?.first_category) && (selectedSecondCategory || isCardio || creatingList?.second_category) && exercises?.length">
        <ion-col size-sm="6" offset-sm="3">
          <ion-card>
            <ion-card-content>
              <ion-list>
                <ion-item *ngFor="let exercise of exercises">
                  <app-exercise-item
                  [selectedList]="creatingList"
                  [exercise] = "exercise"
                  ></app-exercise-item>
                </ion-item>
              </ion-list>
            </ion-card-content>
          </ion-card>
        </ion-col>
      </ion-row>
      <ion-row *ngIf="selectedCategory && (isSelectedSecondCategory || isCardio) || creatingList">
        <ion-col size-sm="1" offset-sm="5.5">
        <ion-item>
          <ion-button style="background-color: none;"(click)="addNewExercise()">
            <ion-icon name="add-outline"></ion-icon>
          </ion-button>
        </ion-item>
        </ion-col>
      </ion-row>
    </ion-grid> 
  </form>
</ion-content>
