<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="challlenges">
      <ion-label>Challenges</ion-label>
      <ion-icon name="search"></ion-icon>
    </ion-tab-button>
    <ion-tab-button tab="list">
      <ion-label>Create Exercise List</ion-label>
      <ion-icon name="flame"></ion-icon>
    </ion-tab-button>
    <ion-tab-button tab="create">
      <ion-label>Create Exercise </ion-label>
      <ion-icon name="add-circle-outline"></ion-icon>    
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
